<section class="support">
		<div class="content_wrapper">
		<h2 class="btn btn--grey btn--grey__h2long">update &#38; support</h2>
		<div class="support__cont">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi voluptates, doloribus placeat, vero consequatur minus tempora dolor assumenda voluptatum eum vel possimus optio atque illum saepe, veniam perspiciatis non dicta.</p>
			<a href="#" class="btn btn--orange btn--orange__long">support center</a>
		</div>
	</div>
	</section>