<footer class="footer">
		<div class="content_wrapper">
		<div class="footer__nav">
			<div class="footer__item">
				<h3>portfolio</h3>
				<ul>
					<li><a href="#">Web Design</a></li>
					<li><a href="#">Branding &#38; Identity</a></li>
					<li><a href="#">Mobile Design</a></li>
					<li><a href="#">Print</a></li>
					<li><a href="#">User Interface</a></li>
				</ul>
			</div>
			<div class="footer__item">
				<h3>about</h3>
				<ul>
					<li><a href="#">The Company</a></li>
					<li><a href="#">History</a></li>
					<li><a href="#">Vision</a></li>
				</ul>
			</div>
			<div class="footer__item">
				<h3>gallery</h3>
				<ul>
					<li><a href="#">Flickr</a></li>
					<li><a href="#">Picasa</a></li>
					<li><a href="#">iStokePhoto</a></li>
					<li><a href="#">PhotoDune</a></li>
				</ul>
			</div>
			<div class="footer__item">
				<h3>contact</h3>
				<ul>
					<li><a href="#">Basic Info</a></li>
					<li><a href="#">Map</a></li>
					<li><a href="#">Contact Form</a></li>
				</ul>
			</div>
		</div>
		<div class="footer__social">
			<a href="#"></a>
			<a href="#"></a>
			<a href="#"></a>
			<a href="#"></a>
		</div>
		<div class="footer__copyright">
			Copyright © 2015 Syed Miraj.All rights reserved.
		</div>
	</div>
	</footer>