<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Unique-tech</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>

<body>
	<header class="header">
		<img class="log0">
		<nav>
			<ul>
				<li><a href="#">home</a></li>
				<li><a href="#">services</a></li>
				<li><a href="#">about</a></li>
				<li><a href="#">portfolio</a></li>
				<li><a href="#">academic</a></li>
				<li><a href="#">blog</a></li>
				<li><a href="#">contact us</a><br/>
					<a href='tel:#'>(+966-322 322)</a></li>
			</ul>
		</nav>
	</header>
	<section class="welcome">
		<h1>unique-tech app development</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum dicta nobis aliquam iusto asperiores obcaecati ab iure ipsum corporis, magni vitae recusandae dolore nostrum iste officia totam tempore ipsam molestias.</p>
		<button type="button">View More</button>
	</section>
	<section class="services">
		<h2>what we do</h2>
		<div class="services__block">
			<artcle class="services__content">
				<h3>search engine optimization</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis quibusdam enim totam recusandae. Ratione aliquid excepturi qui eveniet alias nemo vel, quod quis commodi voluptates, aliquam nostrum rerum molestiae hic!</p>
				<a href="#">view more	</a>
			</artcle>
		</div>
		<div class="services__block">
			<artcle class="services__content">
				<h3>affiliate marketting</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis quibusdam enim totam recusandae. Ratione aliquid excepturi qui eveniet alias nemo vel, quod quis commodi voluptates, aliquam nostrum rerum molestiae hic!</p>
				<a href="#">view more	</a>
			</artcle>
		</div>
		<div class="services__block">
			<artcle class="services__content">
				<h3>web design</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis quibusdam enim totam recusandae. Ratione aliquid excepturi qui eveniet alias nemo vel, quod quis commodi voluptates, aliquam nostrum rerum molestiae hic!</p>
				<a href="#">view more	</a>
			</artcle>
		</div>
	</section>
	<!--	назвать иначе??-->
	<section class="process">
		<h2>how we work</h2>
		<div class="process__content"></div>
	</section>
	<section class="feautures">
		<h3>our features</h3>
		<div>
			<h3>Visual Composer</h3>
			<p>TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes with our. </p>
		</div>
		<div>
			<h3>Responsive</h3>
			<p>TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes with our. </p>
		</div>
		<div>
			<h3>Retina Ready</h3>
			<p>TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes with our. </p>
		</div>
		<div>
			<h3>Typography</h3>
			<p>TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes with our. </p>
		</div>
		<div>
			<h3>VTheme Options Pannel</h3>
			<p>TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes with our. </p>
		</div>
		<div>
			<h3>Dummy Content</h3>
			<p>TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes with our. </p>
		</div>
		<div>
			<h3>Many Style Available</h3>
			<p>TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes with our. </p>
		</div>
		<div>
			<h3>Header Style</h3>
			<p>TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes with our. </p>
		</div>
		<div>
			<h3>10000+ icons</h3>
			<p>TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes with our. </p>
		</div>
		<div>
			<h3>Support</h3>
			<p>TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes with our. </p>
		</div>
		<div>
			<h3>Update</h3>
			<p>TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes with our. </p>
		</div>
		<div>
			<h3>SEO Ready</h3>
			<p>TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes with our. </p>
		</div>
	</section>
	<section class="packages">
		<h2>our packages</h2>
		<div class="packages__content">
			<div class="table__row">
				<div class="table__cell">
					<h3>Basic</h3>
				</div>
				<div class="table__cell">
					<h3>Standard</h3>
				</div>
				<div class="table__cell">
					<h3>Premium</h3>
				</div>
			</div>
			<div class="table__row">
				<div class="table__cell">5 web sites</div>
				<div class="table__cell">15 web sites</div>
				<div class="table__cell">30 web sites</div>
			</div>
			<div class="table__row">
				<div class="table__cell">15 e-mails</div>
				<div class="table__cell">40 e-mails</div>
				<div class="table__cell">50 e-mails</div>
			</div>
			<div class="table__row">
				<div class="table__cell">5 mySQL databases</div>
				<div class="table__cell">20 mySQL databases</div>
				<div class="table__cell">40 mySQL databases</div>
			</div>
			<div class="table__row">
				<div class="table__cell">10 GB storage</div>
				<div class="table__cell">50 GB storage</div>
				<div class="table__cell">100 GB storage</div>
			</div>
			<div class="table__row">
				<div class="table__cell"><span>$5</span><span>/</span><span>mo.</span></div>
				<div class="table__cell"><span>$12</span><span>/</span><span>mo.</span></div>
				<div class="table__cell"><span>$19</span><span>/</span><span>mo.</span></div>
			</div>
			<div class="table__row">
				<div class="table__cell"><a href="#">order now</a></div>
				<div class="table__cell"><a href="#">order now</a></div>
				<div class="table__cell"><a href="#">order now</a></div>
			</div>
		</div>
	</section>
	<section class="history">
		<h2>our history</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi earum, quasi libero ab nihil magni, ex rerum minima sunt soluta? Quia reiciendis sit, sed dolores voluptatibus, assumenda quidem voluptatem voluptas! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque neque exercitationem voluptas iure, perferendis nihil facere recusandae et iste enim, provident tempora illum mollitia numquam atque tenetur explicabo, velit aut?</p>
		<a href="#">browse our story</a>
	</section>
	<section class="projects">
		<h2>our buisness related projects</h2>
		<div class="projects__cont">
			<div>technical aid</div>
			<div>secure access</div>
			<div>market research</div>
			<div>credit</div>
			<div>targetting</div>
			<div>insurance</div>
			<div>ecomerce</div>
			<div>office</div>
		</div>
	</section>
	<section class="team">
		<h2>our team members</h2>
		<div class="team__cont">
			<figure><img src="#">
				<figurecaption>
					<p>Syed Miraj</p>
					<p>UI &#38; UX DESIGNER</p>
				</figurecaption>
			</figure>
			<figure><img src="#">
				<figurecaption>
					<p>PENNY HUSTON</p>
					<p>developer</p>
				</figurecaption>
			</figure>
			<figure><img src="#">
				<figurecaption>
					<p>LENNERD SHELLY</p>
					<p>reviewer</p>
				</figurecaption>
			</figure>
			<figure><img src="#">
				<figurecaption>
					<p>SHELDON CUPPER</p>
					<p>marketing</p>
				</figurecaption>
			</figure>
			<figure><img src="#">
				<figurecaption>
					<p>ashley cole</p>
					<p>managment</p>
				</figurecaption>
			</figure>

		</div>
	</section>
	<section class="support">
		<h2>update &#38; support</h2>
		<div class="support__cont">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi voluptates, doloribus placeat, vero consequatur minus tempora dolor assumenda voluptatum eum vel possimus optio atque illum saepe, veniam perspiciatis non dicta.</p>
			<a href="#">support center</a>
		</div>
	</section>
	<section class="hire">
		<div class="hire__cont">
			<span>Need creative workers?</span>
			<a href="#">hire us</a>
		</div>
	</section>
	<footer class="footer">
		<div class="footer__nav">
			<div class="footer__item">
				<h3>portfolio</h3>
				<ul>
					<li><a href="#">Web Design</a></li>
					<li><a href="#">Branding &#38; Identity</a></li>
					<li><a href="#">Mobile Design</a></li>
					<li><a href="#">Print</a></li>
					<li><a href="#">User Interface</a></li>
				</ul>
			</div>
			<div class="footer__item">
				<h3>about</h3>
				<ul>
					<li><a href="#">The Company</a></li>
					<li><a href="#">History</a></li>
					<li><a href="#">Vision</a></li>
				</ul>
			</div>
			<div class="footer__item">
				<h3>gallery</h3>
				<ul>
					<li><a href="#">Flickr</a></li>
					<li><a href="#">Picasa</a></li>
					<li><a href="#">iStokePhoto</a></li>
					<li><a href="#">PhotoDune</a></li>
				</ul>
			</div>
			<div class="footer__item">
				<h3>contact</h3>
				<ul>
					<li><a href="#">Basic Info</a></li>
					<li><a href="#">Map</a></li>
					<li><a href="#">Contact Form</a></li>
				</ul>
			</div>
		</div>
		<div class="footer__social">
			<a href="#"></a>
			<a href="#"></a>
			<a href="#"></a>
			<a href="#"></a>
		</div>
		<div class="footer__copyright">
			Copyright © 2015 Syed Miraj.All rights reserved.
		</div>
	</footer>
</body>
</html>
