<section class="features">
	<div class="content_wrapper flex__col">
		<h3 class="btn btn--grey btn--grey__h2base margin__h2">our features</h3>
		<div class="features__row">
		 <div class="features__active features__box">
			<h3>Visual Composer</h3>
			<p>TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes with our. </p>
		</div>
		<div class="features__box">
			<h3>Responsive</h3>
			<p>TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes with our. </p>
		</div>
		<div class="features__box">
			<h3>Retina Ready</h3>
			<p>TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes with our. </p>
		</div>
		<div class="features__box">
			<h3>Typography</h3>
			<p>TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes with our. </p>
		</div>
		<div class="features__box">
			<h3>Theme Options Pannel</h3>
			<p>TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes with our. </p>
		</div>
		<div class="features__box">
			<h3>Dummy Content</h3>
			<p>TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes with our. </p>
		</div>
		<div class="features__box">
			<h3>Many Style Available</h3>
			<p>TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes with our. </p>
		</div>
		<div class="features__box">
			<h3>Header Style</h3>
			<p>TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes with our. </p>
		</div>
		<div class="features__box">
			<h3>10000+ icons</h3>
			<p>TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes with our. </p>
		</div>
		<div class="features__box">
			<h3>Support</h3>
			<p>TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes with our. </p>
		</div>
		<div class="features__box">
			<h3>Update</h3>
			<p>TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes with our. </p>
		</div>
		<div class="features__box">
			<h3>SEO Ready</h3>
			<p>TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes with our. </p>
		</div>
		</div>
	</div>
	</section>