<header class="header" id="header">
	<div class="content_wrapper header--flex">
		<div class="logo"><span class="logo__first hov__logo--first">unique</span> <span class="hov__logo--second">tech</span></div>
		<nav>
			<ul class='header__nav'>
				<li><a href="#" class="nav__item hov__nav--outline">home</a></li>
				<li><a href="#" class="nav__item hov__nav--outline">services</a></li>
				<li><a href="#" class="nav__item hov__nav--outline">about</a></li>
				<li><a href="#" class="nav__item hov__nav--outline">portfolio</a></li>
				<li><a href="#" class="nav__item hov__nav--outline">academic</a></li>
				<li><a href="#" class="nav__item hov__nav--outline">blog</a></li>
			<li class="nav__item--right"><a href="#" class="nav__item nav__item--nopadding">contact us</a><br/>
					<a  class="nav__item nav__item--nopadding" href='tel:#'>(+966-322 322)</a></li>
			</ul>
		</nav>
		</div>
	</header>
