<header class="header">
	<div class="content_wrapper header--flex">
		<div class="logo"><span class="logo__first">unique</span> tech</div>
		<nav>
			<ul class='header__nav'>
				<li><a href="#" class="nav__item">home</a></li>
				<li><a href="#" class="nav__item">services</a></li>
				<li><a href="#" class="nav__item">about</a></li>
				<li><a href="#" class="nav__item">portfolio</a></li>
				<li><a href="#" class="nav__item">academic</a></li>
				<li><a href="#" class="nav__item">blog</a></li>
				<li class="nav__item--right"><a href="#" class="nav__item nav__item--nopadding">contact us</a><br/>
					<a  class="nav__item nav__item--nopadding" href='tel:#'>(+966-322 322)</a></li>
			</ul>
		</nav>
		</div>
	</header>