 	<section class="history">
 		<div class="content_wrapper">
		<h2 class="btn btn--grey btn--grey__h2history">our history</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi earum, quasi libero ab nihil magni, ex rerum minima sunt soluta? Quia reiciendis sit, sed dolores voluptatibus, assumenda quidem voluptatem voluptas! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque neque exercitationem voluptas iure, perferendis nihil facere recusandae et iste enim, provident tempora illum mollitia numquam atque tenetur explicabo, velit aut?</p>
		<a href="#" class="btn btn--orange btn--orange__long">browse our story</a>
		</div>
	</section>