	<section class="packages">
		<div class="content_wrapper">
		<h2 class="btn btn--grey btn--grey__h2base">our packages</h2>
		<div class="packages__content">
			<div class="table__row">
				<div class="table__cell">
					<h3>Basic</h3>
				</div>
				<div class="table__cell">
					<h3>Standard</h3>
				</div>
				<div class="table__cell">
					<h3>Premium</h3>
				</div>
			</div>
			<div class="table__row">
				<div class="table__cell">5 web sites</div>
				<div class="table__cell">15 web sites</div>
				<div class="table__cell">30 web sites</div>
			</div>
			<div class="table__row">
				<div class="table__cell">15 e-mails</div>
				<div class="table__cell">40 e-mails</div>
				<div class="table__cell">50 e-mails</div>
			</div>
			<div class="table__row">
				<div class="table__cell">5 mySQL databases</div>
				<div class="table__cell">20 mySQL databases</div>
				<div class="table__cell">40 mySQL databases</div>
			</div>
			<div class="table__row">
				<div class="table__cell">10 GB storage</div>
				<div class="table__cell">50 GB storage</div>
				<div class="table__cell">100 GB storage</div>
			</div>
			<div class="table__row">
				<div class="table__cell"><span>$5</span><span>/</span><span>mo.</span></div>
				<div class="table__cell"><span>$12</span><span>/</span><span>mo.</span></div>
				<div class="table__cell"><span>$19</span><span>/</span><span>mo.</span></div>
			</div>
			<div class="table__row">
				<div class="table__cell"><a href="#">order now</a></div>
				<div class="table__cell"><a href="#">order now</a></div>
				<div class="table__cell"><a href="#">order now</a></div>
			</div>
		</div>
		</div>
	</section>