<section class="process" id="process">
	<div class="content_wrapper flex__col">
		<h2 class="btn btn--grey btn--grey__h2base plane plane--left">how we work</h2>
		<div class="process__content">
			<div class="process__item">
				<img src="images/svg/process/start.svg" alt="">
			</div>
			<div class="process__item">
				<img src="images/svg/process/line1.svg" alt="">
			</div>
			<div class="process__item">
				<img src="images/svg/process/start.svg" alt="">
			</div>
		</div>
	</div>
	</section>