<section class="projects">
	<div class="content_wrapper packages--flex">
		<h2 class="btn btn--grey btn--grey__h2long">our buisness related projects</h2>
		<div class="projects__row">
			<div>
			   <object data="your.svg" type="image/svg+xml">
			     <img src="images/svg/technical_aid.svg" >
			   </object>
		     	<span class="descr">technical aid</span>
			</div>
			<div>
			   <object data="your.svg" type="image/svg+xml">
			     <img src="images/svg/secure_access.svg" >
			   </object>
		     	<span class="descr">secure access</span>
			</div>
			<div>
			   <object data="your.svg" type="image/svg+xml">
			     <img src="images/svg/market_research.svg" >
			   </object>
		     	<span class="descr">market research</span>
			</div>
			<div>
			   <object data="your.svg" type="image/svg+xml">
			     <img src="images/svg/credit.svg" >
			   </object>
		     	<span class="descr">credit</span>
			</div>
			<div>
			   <object data="your.svg" type="image/svg+xml">
			     <img src="images/svg/targetting.svg" >
			   </object>
		     	<span class="descr">targetting</span>
			</div>
			<div>
			   <object data="your.svg" type="image/svg+xml">
			     <img src="images/svg/insurance.svg" >
			   </object>
		     	<span class="descr">insurance</span>
			</div>
			<div>
			   <object data="your.svg" type="image/svg+xml">
			     <img src="images/svg/ecommerce.svg" >
			   </object>
		     	<span class="descr">ecomerce</span>
			</div>
			<div>
			   <object data="your.svg" type="image/svg+xml">
			     <img src="images/svg/office.svg" >
			   </object>
		     	<span class="descr">office</span>
			</div>
		</div>
	</div>
</section>