<h2 class="btn btn--grey btn--grey__h2long">our team members</h2>
<section class="team">
	<div class="content_wrapper">
		<div class="team__container">
			<figure>
			       <img src="images/svg/member1.svg" alt="image description" width="130" height="127">
				<figcaption>
					<p>Syed Miraj</p>
					<p>UI &#38; UX DESIGNER</p>
				</figcaption>
			</figure>
			<figure>
		<!-- 	<object data="your.svg" type="image/svg+xml">
			  <img src="images/svg/member2.svg" >
			</object> -->
			    <!--  <img src="images/svg/member2.svg" onerror="this.src='images/png/member2.png'"> -->
			    <img src="images/png/member2.png" srcset="images/svg/member2.svg" alt="My logo">
				<figcaption>
					<p>PENNY HUSTON</p>
					<p>developer</p>
				</figcaption>
			</figure>
			<figure>
			   <img src="images/svg/member3.svg" alt="image description" width="130" height="127">
				<figcaption>
					<p>LENNERD SHELLY</p>
					<p>reviewer</p>
				</figcaption>
			</figure>
			<figure>
			     <img src="images/svg/member4.svg" alt="image description" width="130" height="127">
				<figcaption>
					<p>SHELDON CUPPER</p>
					<p>marketer</p>
				</figcaption>
			</figure>
			<figure>
			   <img src="images/svg/member5.svg" alt="image description" width="130" height="127">
				<figcaption>
					<p>ashley cole</p>
					<p>managment</p>
				</figcaption>
			</figure>

		</div>
	</div>
	</section>