<section class="welcome" id="welcome">
	<div class="content_wrapper header--flex welcome--center">
		<div class="welcome__content">
			<h2 class="welcome__header animated fadeInDown">Unique-tech<br> app development</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.</p>
			<a class="btn btn__welcome hov-outline">View More <i class="fas fa-paper-plane"></i></a>
		</div>
		<div class="slideshow-container">
			<div class="mySlides fade">
				<img src="images/laptop.png" class="welcome__img" style="width:100%">
			</div>
			<div class="mySlides fade">
				<img src="images/tablet.png" class="welcome__img" style="width:100%">
			</div>
			<div class="mySlides fade">
				<img src="images/iphones.png" class="welcome__img" style="width:100%">
			</div>
			<div style="text-align:center">
				<span class="dot" onclick="currentSlide(1)"></span>
				<span class="dot" onclick="currentSlide(2)"></span>
				<span class="dot" onclick="currentSlide(3)"></span>
			</div>
		</div>
	</div>
</section>

	<script>
		var header = document.getElementById('header');
		var welcome = document.getElementById('welcome');
//		var headerBottom = header.getBoundingClientRect().bottom + window.pageYOffset;
		 window.onscroll = function headerFix() {
      if (document.getElementById('header').classList.contains('header--fix') && window.pageYOffset < 61 || window.pageYOffset > 8800){
        header.classList.remove('header--fix');
				welcome.classList.remove('welcome__header--fix');
      } else if (window.pageYOffset > 61) {
        header.classList.add('header--fix');
			 welcome.classList.add('welcome__header--fix');}
		 };


</script>