.btn {
	display: inline-block;
	@include robbol;
	border-radius: 4px;
	text-transform: uppercase;
	text-align: center;
	white-space: nowrap;
	box-shadow: 1px 2px 4.75px 0.25px rgba(0, 0, 0, 0.25);

	&__welcome {
		@include robreg;
		background-color: $btngrey;
		border: none;
		border-radius: 2px;
		padding: 18px 20px;
		color: #ffffff;
		text-transform: capitalize;
		margin-top: 35px;



    
  
	i {
		transform: rotate(50deg);
		font-size: 17px;
		margin-left: 6px;
	}

	}



	


	&__hire {
		@include opsbold;
		padding: 15px 0;
		min-width: 160px;
		color: $orangebtntext;
		background-color: #ffffff;
	}

	&--grey {
		background-color: $btngrey;
		color: #ffffff;
		font-size: $big;
		padding: 20px 0;
		&__h2base {
			min-width: 330px;
		}
		&__h2long {
//			margin: 136px auto;
			min-width: 460px;
	
		}
		&__h2history {
			min-width: 220px;
		}
	}
	
	&--orange {
		@include opsbold;
		background-color: $orange;
		color: $orangebtntext;
		line-height: 50px;
		font-size: $mini;
		text-decoration: none;
		width: 150px;
		&__long {
			width: 190px;
		}
	}
}
