.btn {
	display: inline-block;
	@include robbol;
	border-radius: 3px;
	text-transform: uppercase;
	text-align: center;
	white-space: nowrap;
	box-shadow: 1px 2px 4.75px 0.25px rgba(0, 0, 0, 0.25);

	&__welcome {
		@include robreg;
		font-size: $medium;
		background-color: $grey;
		min-width: 150px;
		border: none;
		padding: 19px 42px 20px 25px;
		text-align: left;
		color: $white;
		text-transform: capitalize;
		margin-top: 35px;
		position: relative;
		line-height: $mystic;
     
		i {
			font-size: 17px;
			right: 19px;
			top: 50%;
			transform: translateY(-65%) rotate(50deg);
			position: absolute;
		}
	}
	&__welcome:before,
&__welcome:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
}
&__welcome:before {
  bottom: 0;
  left: 0;
  border-left: 1px solid white;
  border-top: 1px solid white;
  transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}
&__welcome:after {
  top: 0;
  right: 0;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  transition: 0s ease opacity .4s, .2s ease width , .2s ease height .2s;
}
&__welcome:hover:before,
&__welcome:hover:after{
  height: 100%;
  width: 100%;
  opacity: 1;
}
&__welcome:hover:before {transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;}
&__welcome:hover:after {transition: 0s ease opacity .4s, .2s ease height .4s , .2s ease width .6s;}
&__welcome:hover {background: rgba(255,255,255,.2);}
	

	&__hire {
		@include opsbold;
		font-size: $twenty;
		padding: 15px 0 17px;
		min-width: 160px;
		color: $grey;
		background-color: $white;
		line-height: $medium;
	}

	&--grey {
		background-color: $grey;
		color: $white;
		font-size: $big;
		line-height: $mystic;
		padding: 19px 0;
		&__h2base {
			min-width: 330px;
		}
		&__h2long {

			min-width: 445px;

		}
		&__h2history {
			min-width: 220px;
		}
	}

	&--orange {
		@include opsbold;
		background-color: $orange;
		color: $grey;
		padding: 20px 0;
		font-size: $mystic;
		min-width: 150px;
		line-height: $mini;
		&__long {
			min-width: 190px;
		}
	}
}
