.features {
	background: $white; 
	padding-top: 136px;

	&__row {
		 display: grid;
		  grid-template-columns: 1fr 1fr 1fr;
		  grid-gap: 30px;
		  font-size: $small;
	}
	&__box {
			 padding: 10px 10px 10px 50px;
			 position: relative;
			 line-height: 2;
		@include roblight;
		color: $grey;

			 h3 {
			 	font-weight: 400;
			 	font-size: $h3;
				@include robreg;
			 }
		}	
		&__box:hover {
			background: $orange;
		}
		&__box::before {
			content: '\f15c';
			position: absolute;
			left: 21px;
    		top: 15px;
		}
  //     &__active {
		// 	background: $orange;
		// }
		&__default {
			background: $white;
		}
}
.margin__h2 {
		margin-bottom: 150px;
	}