.projects{
		padding: 150px 0 170px 0;
	&__margin{
		margin-bottom: 135px;
	}
}

.projects__row {
	margin: 0 auto;
	background: url('../images/project_background.png');
    padding: 90px 100px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 40px 60px;
	text-align: center;
        div {
        	align-self: end;
        	justify-self: end;
        	width: 100%;
        }
		.descr {

		text-transform: uppercase;
		text-align: center;
		@include robbol;
			color: $grey;
			font-size: $medium;
	}
}