.team{
	background: $orange;
   
   &__container {
	   	display: flex;
	   	justify-content: space-between;
	   	flex-wrap: wrap;
	   	padding: 61px 0 23px;
	   	text-align: center;
         margin: 130px auto;
   }
   figure img{
		width: 130px;
		height: 127px;
		background: #ebebeb;
		border-radius: 50%;
		padding-top: 10px;

   }
   figcaption {
   	    text-transform: uppercase;
   	    color: #fff;
   	    p {
   	    	font-size: 16px;
   	    }
   	    p:first-child {
   	    	font-weight: 600;
   	    	margin: 16px auto;
   	    }

   }
}