.team {
	&__margin {
		margin-bottom: 140px;
	}
	&__container {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding: 61px 0 23px;
		text-align: center;
		background: $orange;
		width: 100vw;
	}
	&__members:not(:last-child) {
		margin-right: 45px;
	}
	figure img {
		width: 130px;
		height: 127px;
		background: #ebebeb;
		border-radius: 50%;
		padding-top: 10px;
	}
	figcaption {
		text-transform: uppercase;
		color: $white;
		p {
			font-size: $medium;
			@include robthin;
		}
		p:first-child {
			@include robbol;
			margin: 16px auto;
		}
	}
}
